.tabbar {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: min(100%, 480px);
  transform: translateX(-50%);
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 -1px rgba(236, 233, 233, 0.6);
}

.placeholder {
  height: 49px;
}