.form {
  margin-top: $space-6;
  --border-bottom: none;
  --border-top: none;
  --border-inner: none;

  .form-item {
    border-radius: $radius-3;
    background-color: rgb(246, 246, 246);

    &:nth-child(n + 2) {
      margin-top: $space-4;
    }
  }
}

.btn {
  margin-top: $space-6;
}

.page {
  min-height: 100vh;
  padding: $space-2 * 14 $space-4 $space-4;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url("@/assets/images/login-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  font-size: 24px;
  font-weight: bold;
}
.tabs {
  margin-top: $space-6;
  display: flex;
  align-items: center;
  gap: $space-4;
}
.tabs-item {
  font-size: 16px;
  color: $color-text-secondary;
}
.tabs-active {
  color: $color-primary;
}
.links {
  margin-top: $space-6;
  @include flex-between;
  font-size: 12px;
  color: $color-text-secondary;
}
.agreement {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  color: $color-text-secondary;
  @include flex-center;
}
.checkbox {
  --font-size: 12px;
  --icon-size: 18px;
}
.link-text {
  margin: 0 $space-1;
  color: $color-primary;
}
