.tabs {
  position: sticky;
  top: 45px;
  background-color: #fff;
  --title-font-size: 14px;
}

.order-list {
  padding: $space-3;
  @include flex-column($space-3);
}

.order-item {
  padding: $space-3;
  border-radius: $radius-2;
  background-color: #fff;

  .order-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: $space-3;
    border-bottom: 1px solid $color-border;

    .order-status {
      color: $color-primary;
    }
  }
}

.order-goods {
  padding: $space-4 0 $space-2;
  @include flex-column($space-1);

  .goods-item {
    display: flex;
    gap: $space-3;

    .goods-content {
      display: flex;
      flex: 1;
      min-width: 0;
      gap: $space-3;
    }

    .goods-cover {
      display: block;
      flex: 0 0 60px;
      width: 60px;
      height: 60px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .goods-content > div:not(.goods-cover) {
      flex: 1;
      min-width: 0;
    }

    .goods-name {
      @include text-hidden(2);
    }

    .goods-label {
      margin-top: $space-2;
      color: $color-text-secondary;
      font-size: 12px;
    }

    .goods-right {
      flex: 0 0 auto;
      text-align: right;
    }
  }
}

.order-footer {
  .order-total {
    text-align: right;

    strong {
      font-size: 16px;
    }
  }

  .btn-wrap {
    display: flex;
    justify-content: flex-end;
    gap: $space-3;
    margin-top: $space-3;

    .button {
      padding: $space-2 $space-3;
      background-color: $color-primary;
      color: #fff;
      border-radius: $radius-2;
    }

    .gray-button {
      @extend .button;
      background-color: #ebedf2;
      color: $color-text-secondary;
    }
  }
}
