.page {
  @include flex-column($space-2);
}

.address {
  position: relative;
  @include flex-between;
  gap: $space-2;
  padding: $space-4 $space-3;
  background-color: #fff;

  .address-detail {
    display: flex;
    align-items: center;
    gap: $space-1;
  }

  .address-label {
    margin-top: $space-2;
    color: $color-text-secondary;
    font-size: 12px;
  }

  ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: repeating-linear-gradient(
      -45deg,
      #ff976a 0,
      #ff976a 20%,
      transparent 0,
      transparent 25%,
      #1989fa 0,
      #1989fa 45%,
      transparent 0,
      transparent 50%
    );
    background-size: 80px;
  }
}

.goods {
  margin-top: $space-2;
  padding: $space-3;
  @include flex-column($space-4);
  background-color: #fff;

  .goods-item {
    display: flex;
    gap: $space-3;
    background-color: #fff;
  }

  .goods-cover {
    width: 64px;
    height: 64px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .goods-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .goods-name {
      @include text-hidden(2);
    }

    .goods-label {
      margin-top: $space-2;
      color: $color-text-secondary;
      font-size: 12px;
    }

    .goods-cell {
      @include flex-between;
    }

    .goods-price {
      color: #e02020;
    }

    .goods-quantity {
      color: $color-text-secondary;
      font-size: 12px;
    }
  }
}

.cells {
  margin-top: $space-2;
  padding: $space-4 $space-3;
  @include flex-column($space-4);
  background-color: #fff;
  font-size: 13px;
  
  .cell {
    @include flex-between;
    gap: $space-4;
  }

  .input-wrap {
    margin-top: $space-2;
    padding: $space-2;
    border-radius: $radius-2;
    background-color: #F6F3F2;
  }

  .cell-footer {
    padding-top: $space-4;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid $color-border;
    font-size: 16px;

    .amount {
      color: $color-primary;
    }
  }
}

.placeholder {
  margin-top: $space-2;
  height: 60px;
}

.submit-bar {
  padding: $space-2;
  position: fixed;
  inset: auto 0 0 0;
  background-color: #fff;
  border-top: 1px solid $color-border;
  height: 60px;
  box-sizing: border-box;

  .btn {
    height: 100%;
    @include flex-center;
    background-color: $color-primary;
    color: #fff;
    font-size: 16px;
  }
}
